<!-- navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler " (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>

      </button>

    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class=" navbar-nav ms-auto">
        <span *ngIf="!authService.userLoginStatus">
          <li class="nav-item">
            <a class="nav-link " routerLink="/home" routerLinkActive="active"
              (click)="isCollapsed = !isCollapsed">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/login" routerLinkActive="active"
              (click)="isCollapsed = !isCollapsed">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/signup" routerLinkActive="active"
              (click)="isCollapsed = !isCollapsed">Signup</a>
          </li>
        </span>

        <span *ngIf="authService.userLoginStatus">
          <li class="nav-item">
            <a class="nav-link " routerLink="/login" routerLinkActive="active" (click)="isCollapsed = !isCollapsed"
              (click)="authService.logoutUser()">Logout</a>
          </li>
        </span>
      </ul>
    </div>
  </div>
</nav>

<div class="conatiner">
  <router-outlet></router-outlet>
</div>