<div class="row">
    <div class="col-10 col-sm-8 col-md-6 mx-auto">
        <p class="display-4 text-center  signin-heading mx-4">Signup here</p>
        <!-- login image -->
        <!-- <img src="../../assets/images/login.svg" width="200px" alt="" class="d-block mx-auto mt-5"> -->

        <!-- invalid credentials error message-->
        <h5 *ngIf="errStatus" class="text-center text-danger m-3 ">{{errMsg}}</h5>


        <form class="my-4" [formGroup]="userFormInfo" (ngSubmit)="onFormSubmit()">


            <!-- username -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" formControlName="username"
                    placeholder="name@example.com">
                <label for="username">Username</label>
            </div>

            <!-- password -->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" formControlName="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <!-- email -->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="name@example.com">
                <label for="username">Email</label>
            </div>
            <!-- city -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="city" formControlName="city"
                    placeholder="name@example.com">
                <label for="city">City</label>
            </div>
            <!-- profile image -->
            <div class="form-floating mb-3">
                <input type="file" 
                        class="form-control" 
                        id="profilePic" 
                        formControlName="profilePic"
                        placeholder="name@example.com"
                        (change)="onFileSelect($event)">
                <label for="username">City</label>
            </div>

            <button type="submit" class="btn signup-btn d-block mx-auto shadow">Signup</button>


        </form>
    </div>
</div>